*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.mobile-container {
    min-width: 360px;
    max-width: 480px;
    min-height: 100vh;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.15);
}

@media only screen and (orientation: landscape) and (max-device-width: 1000px) {
    .mobile-container {
        max-width: 100%;
    }
}

main {
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
}

button:disabled {
    cursor: wait !important;
    background-color: #5f5f5f;
}

.nav {
    overflow: hidden;
    position: relative;
    background-color: darkorange;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
}

.nav__logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
    line-height: 50px;
}

.nav__list {
    font-family: 'Montserrat', sans-serif;
    display: none;
    background-color: #1f1f1f;
}

.nav__list__item {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 17px;
    display: block;
    border-bottom: solid #5f5f5f 1px;
}

.nav__list__item:last-child {
    border-bottom: none;
}

.nav__btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    color: white;
    line-height: 50px;
    font-size: 24px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-align: center;
}