*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-container {
    max-width: 480px;
}

main {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.nav {
    overflow: hidden;
    position: relative;
    background-color: darkorange;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
}

.nav__logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
    line-height: 50px;
}

.nav__list {
    font-family: 'Montserrat', sans-serif;
    display: none;
    background-color: #1f1f1f;
}

.nav__list__item {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 17px;
    display: block;
    border-bottom: solid #5f5f5f 1px;
}

.nav__list__item:last-child {
    border-bottom: none;
}

.nav__btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    color: white;
    line-height: 50px;
    font-size: 24px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    text-align: center;
}