{% extends 'base.html' %}

{% block head %}
<title>Smart Fridge - Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <div class="fridge">
        <img class="fridge__img" src="{{ url_for('static', filename='img/fridge.jpeg') }}" alt="Koelkast">
        <button class="refresh__btn" id="refresh__btn" onclick="refreshImg()">Refresh</button>
    </div>
    <div class="template">
        <p>Nieuw product? Maak een template:</p>
        <a class="template__btn" href="/scanner">
            <button>Scanner</button>
        </a>
    </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
